<!DOCTYPE html>
<html>
<head>
  <title>OpenOrgMeetings</title>
  <%= stylesheet_link_tag    "open-org-meetings/application", :media => "all" %>
  <%= javascript_include_tag "open-org-meetings/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
